<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BRILLOCINC</title>

    @*from template*@
    @*<link href="~/Content/bootstrap.css" rel="stylesheet">*@
    @*<link href="~/Content/revolution-slider.css" rel="stylesheet">*@
    @*<link href="~/Content/style.css" rel="stylesheet">*@
    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    @*<link href="~/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">*@
    
    <link href="~/Content/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->



    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="../Content/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body>

@*from template*@
<div class="page-wrapper">

<!-- Preloader -->
<div class="preloader"><div class="loader"><div class="cssload-container"><div class="cssload-speeding-wheel"></div></div></div></div>

<!-- Main Header-->
<header class="main-header header-style-one">
    <!--Header-Upper-->
    <div class="header-upper">
        <div class="auto-container">
            <div class="clearfix">

                <div class="pull-left logo-outer">
                    <div class="logo"><a href="@Url.Action("Inicio", "Home")"><img src="~/images/_logo.png" alt="Brillocinc" title="Brillocinc"></a></div>
                </div>

                <div class="pull-right upper-right clearfix">
                    <!--Info Box-->
                    <div class="upper-column info-box">
                        
                        <div class="icon-box"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                        <ul>
                            <li><strong>Lun - Vie : 8:00 - 17:00</strong></li>
                            <li>Fin de Semana : Cerrado</li>
                        </ul>
                    </div>
                    <!--Info Box-->
                    <div class="upper-column info-box">
                        <div class="icon-box"><i class="fa fa-phone" aria-hidden="true"></i></div>
                        <ul>
                            <li><strong>(+562) 2525 3271</strong></li>
                            <li>brillocinc@gmail.com</li>
                        </ul>
                    </div>
                    <!--Info Box-->
                    <div class="upper-column info-box">
                        <div class="icon-box"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></div>
                        <ul>
                            <li><strong>Dirección</strong></li>
                            <li>Santa Rosa 5587, San Miguel, Santiago</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Header-Lower-->
    <div class="header-lower">

        <div class="auto-container">
            <div class="nav-outer clearfix">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li>
                                @Html.ActionLink("Inicio", "Index", "Home")                                
                            </li>                           
                            <li class="dropdown">
                                @Html.ActionLink("Productos y Servicios", "ProductosServicios", "Home")
                                <ul>
                                    <li>
                                        @Html.ActionLink("Cincado en Bombo", "CincadoBombo", "Home")
                                        @*<a href="services.html">Cincado en Bombo</a>*@
                                    </li>
                                    <li>
                                        @Html.ActionLink("Cincado en Colgado", "CincadoBombo", "Home")
                                        @*<a href="services-details.html">Cincado en Colgado</a>*@
                                    </li>
                                    <li>
                                        @Html.ActionLink("Automatización", "CincadoBombo", "Home")
                                        @*<a href="services-details.html">Automatización</a>*@
                                    </li>
                                    <li>
                                        @Html.ActionLink("Alambre Plastificado", "CincadoBombo", "Home")
                                        @*<a href="services-details.html">Alambre Plastificado</a>*@
                                    </li>
                                </ul>
                            </li>                     
                            <li>
                                @Html.ActionLink("Acerca De", "AcercaDe", "Home")
                            <li>
                                @Html.ActionLink("Contacto", "Contacto", "Home")
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- Main Menu End-->
            </div>
        </div>
    </div>

    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="@Url.Action("Inicio", "Home")" class="img-responsive"><img src="~/images/_logo-small.png" alt="Brillocinc" title="Brillocinc"></a>
            </div>

            <!--Right Col-->
            <div class="right-col pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li>
                                @Html.ActionLink("Inicio", "Index", "Home")
                            </li>
                            <li class="dropdown">
                                @Html.ActionLink("Productos y Servicio", "ProductosServicios", "Home")
                                <ul>
                                    <li>
                                        @Html.ActionLink("Cincado en Bombo", "CincadoBombo", "Home")
                                        @*<a href="services.html">Cincado en Bombo</a>*@
                                    </li>
                                    <li>
                                        @Html.ActionLink("Cincado en Colgado", "CincadoBombo", "Home")
                                        @*<a href="services-details.html">Cincado en Colgado</a>*@
                                    </li>
                                    <li>
                                        @Html.ActionLink("Automatización", "CincadoBombo", "Home")
                                        @*<a href="services-details.html">Automatización</a>*@
                                    </li>
                                    <li>
                                        @Html.ActionLink("Alambre Plastificado", "CincadoBombo", "Home")
                                        @*<a href="services-details.html">Alambre Plastificado</a>*@
                                    </li>
                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink("Acerca De", "AcercaDe", "Home")
                            <li>
                                @Html.ActionLink("Contacto", "Contacto", "Home")
                            </li>
                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
            </div>

        </div>
    </div><!--End Sticky Header-->

</header>
<!--End Main Header -->
<!--Main Slider-->
@RenderBody()
</div>

@*fin template*@

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@*@Scripts.Render("~/bundles/templateScripts")*@
@RenderSection("scripts", required: false)
    

<script src="~/Scripts/IndustrialTemplate/jquery.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/IndustrialTemplate/revolution.min.js"></script>
<script src="~/Scripts/IndustrialTemplate/jquery.fancybox.pack.js"></script>
<script src="~/Scripts/IndustrialTemplate/jquery.fancybox-media.js"></script>
<script src="~/Scripts/IndustrialTemplate/owl.js"></script>
<script src="~/Scripts/IndustrialTemplate/wow.js"></script>
<script src="~/Scripts/IndustrialTemplate/script.js"></script>
<script src="~/Scripts/IndustrialTemplate/validate.js"></script>



</body>
</html>
